/typo3temp
/uploads
/typo3
/t3lib
/.settings
/.buildpath
/.DS_Store
/.project
/ChangeLog
/GPL.txt
/index.php
/INSTALL.txt
/LICENSE.txt
/NEWS.txt
/README.txt
/RELEASE_NOTES.txt
/fileadmin/_processed_
/fileadmin/_migrated
/fileadmin/_temp_
/fileadmin/user_upload
/fileadmin/content_uploads
/fileadmin/default
/fileadmin/media
/_.htaccess
/build_config.ini
/typo3conf/LocalConfiguration.php
/typo3conf/PackageStates.php
/typo3conf/ENABLE_INSTALL_TOOL
/typo3_src*
/node_modules
/typo3conf/ext/extbase_realurl
/typo3conf/ext/piwik
/typo3conf/ext/piwikintegration
/typo3conf/ext/typo3.piwikintegration-master
/typo3conf/ext/pw_teaser
/typo3conf/ext/barscheduler
/typo3conf/ext/cal_introduction
/typo3conf/ext/dm_simplecalendar
/typo3conf/ext/jcc_appointments