/typo3temp
/uploads
/typo3
/t3lib
/.settings
/.buildpath
/.DS_Store
/.project
/ChangeLog
/GPL.txt
/index.php
/INSTALL.txt
/LICENSE.txt
/NEWS.txt
/README.txt
/RELEASE_NOTES.txt
/fileadmin
/composer.phar
/_.htaccess
/build_config.ini
/typo3conf/LocalConfiguration.php
/typo3conf/PackageStates.php
/typo3conf/ENABLE_INSTALL_TOOL
/typo3_src*
/node_modules
/typo3conf/ext/extbase_realurl
/typo3conf/ext/piwik
/typo3conf/ext/piwikintegration
/typo3conf/ext/typo3.piwikintegration-master
/typo3conf/ext/pw_teaser
/typo3conf/ext/barscheduler
/typo3conf/ext/cal_introduction
/typo3conf/ext/dm_simplecalendar
/typo3conf/ext/jcc_appointments
/typo3conf/ext/static_info_tables
/typo3conf/ext/phpmyadmin
/typo3conf/ext/vhs
/typo3conf/ext/pb_social_back
/typo3conf/ext/cal
/typo3conf/ext/pb_social
/typo3conf/ext/realurl
/typo3conf/ext/rlmp_language_detection
/typo3conf/ext/rx_shariff
/typo3conf/ext/seo_basics
/typo3conf/ext/theme_bootstrap
/typo3conf/ext/themes
/typo3conf/ext/themes_gridelements
/typo3conf/ext/gridelements
/typo3conf/ext/dyncss
/typo3conf/ext/dyncss_less
/typo3conf/ext/jh_opengraphprotocol
/typo3conf/ext/mediace
/typo3conf/ext/lfeditor
/typo3conf/ext/vca_millerntor
/typo3conf/ext/theme_millerntor


/vendor/
